Flask==3.0.0
flask-socketio==5.3.5
flask-cors==4.0.0
python-socketio==5.10.0
python-engineio==4.8.0
Werkzeug==3.0.1
PyJWT==2.8.0
eventlet==0.33.3
dnspython==2.4.2
bidict==0.22.1
simple-websocket==1.0.0
wsproto==1.2.0
h11==0.14.0
